@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  scale: 102%;
}

@layer components {
  :root {
    @apply font-quicksand;
  }
  * {
    @apply transition-colors duration-[50ms];
  }
  .dark {
    @apply bg-[#23272f] text-[#f6f7f9];
  }
}

.categories_container {
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 992px) {
  .categories_container:nth-child(2) {
    grid-row: span 2 !important;
  }
  .categories_container:nth-child(6) {
    grid-column: span 2 !important;
  }
}
